@keyframes wtf {}

@-webkit-keyframes happy2 {
  00%   {-webkit-transform: rotate(0deg)   scale(1);}
  20%   {-webkit-transform: rotate(90deg) scale(2);}
  40%   {-webkit-transform: rotate(180deg) scale(1);}
  60%   {-webkit-transform: rotate(270deg) scale(2);}
  80%   {-webkit-transform: rotate(360deg) scale(1);}
  100%  {-webkit-transform: rotate(0deg) scale(1);}
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#parent {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#maze {
}

.happy {
  -webkit-animation: happy2 1s linear 0s 2 alternate;
}
